.container {
    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 400px; /* Set the width of the container */
  }

  
body {
  margin: 0;
  padding: 0;
  background-color: #bdc8de;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-page {
  background-color: #bdc8de;
  font-family: 'Roboto', Arial, sans-serif;
  color: black;
}

.home-page h1 {
  font-size: 1.6em;
}

.home-page h2 {
  font-size: 1.5em;
}

.home-page h3 {
  font-size: 1em;
  color: gray;
}

.wallet-page {
  background-color: #bdc8de;
  font-family: 'Roboto', Arial, sans-serif;
  color: black;
}

.login-page {
  background-color: #bdc8de;
  font-family: 'Roboto', Arial, sans-serif;
  color: black;
  padding: 15px;
}

.login-page h1 {
  font-size: 2em;
}

.login-page h2 {
  font-size: 1.5em;
}

.login-left {
  margin-left: 100px;
  margin-top: 50px;
}

.login-center {
  margin-top: 350px;
  margin-left: 50px;
  padding-left: 60px;
}

.login-item {
  display: flex;
      align-items: center;
      width: 650px; 
      height: auto;
      margin-left: -30px;
      margin-top: 40px;
}
